@keyframes surfear {
    from {
        background-position: 20000%;
    }

    to {
        background-position: 0%;
    }
}

#paisatge {
    position: absolute;
    background-image: url('./img/fondo.jpeg');
    height: 100%;
    width: 100%;
    animation: surfear 600s infinite linear;
}

.sergi {
    background-image: url('./img/spiderman.png');
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;

}

.estrellamuerte {
    background-image: url('./img/estrellamuerte.png');
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;

}

.comida {
    background-image: url('./img/bollo.png');
    height: 49px;
    width: 100px;
    position: absolute;
    bottom: 300px;

}

#alert{
    color: blueviolet;
    position: absolute;
    top:0;
    right: 20px;
    font-size: 20px;
}